# **<div align="center"> LOAD DATA </div>**

In [1]:
import sys
import os
sys.path.append(os.path.abspath('../src'))
from load_supabase_api import load_all_data

In [2]:
# Load data
df = load_all_data()
df.head()

,id,cryptocurrency_id,date,price_usd,market_cap,volume,change,id_crypto,name
0,1,1,2025-02-05T12:03:40,97864.00,1.940960e+12,6.365740e+10,-1.04809,1,bitcoin
1,2,2,2025-02-05T12:03:40,2780.50,3.352540e+11,4.421130e+10,1.02554,2,ethereum
2,3,3,2025-02-05T12:03:40,1.00,1.405310e+11,1.073240e+11,-0.03830,3,tether
3,4,4,2025-02-05T12:03:40,571.03,8.327530e+10,1.241400e+09,-2.18004,4,binancecoin
4,5,1,2025-02-06T12:05:49,99038.00,1.960400e+12,4.243940e+10,1.30476,1,bitcoin

In [3]:
# Export csv
df.to_csv('../Data/raw/db_10122025.csv', index=False)